<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.turings.turings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".index.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".myself.sxn.MyAchieveActivity"/>
        <activity android:name=".myself.sxn.MyAvatarActivity"/>
        <activity android:name=".myself.sxn.MyConcernActivity"/>
        <activity android:name=".myself.sxn.MyFansActivity"/>
        <activity android:name=".myself.sxn.MyMottoActivity"/>
        <activity android:name=".myself.sxn.MyNicknameActivity"/>
        <activity android:name=".myself.sxn.MySchoolActivity"/>
        <activity android:name=".myself.sxn.MyShareActivity"/>
        <activity android:name=".myself.sxn.PersonalDataActivity"/>

    </application>

</manifest>