<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="org.turings.index.pre.dao.PreMapper">
    <!-- 结果映射 -->
    <resultMap type="org.turings.index.entity.Pre" id="preMapper">
    	<id column="id" property="id"/>
        <result column="name" property="title"/>
        <result column="num" property="num"/>
        <result column="content" property="content"/>
        <result column="author" property="author"/>
    </resultMap>
    <select id="findPreAll" resultMap="preMapper">
           select * from tbl_indexname
    </select>
    <update id="updatePre">
     	 update tbl_indexname set num=#{arg1} where id=#{arg0}
    </update>
</mapper>