<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="org.turings.myself.inputAvatar.dao.UpdateAvatarMapper">
    <!-- 结果映射 -->

	<update id="uptoDate">
  		update tbl_self_user set uAvatar=#{url} where uId=#{id}
  	</update>
</mapper>