<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="org.turings.myself.dao.MyselfMapper">
	<!--显示全部课程-->
	<select id="listAllCourses" resultType="org.turings.myself.entity.CourseInfo">
		select * from tbl_indexcourse where parentid in (select cId from tbl_self_courses_my where uId=#{uid})
	</select>
	<!-- 显示全部粉丝 -->
	<select id="listAllFans" resultType="org.turings.myself.entity.UserInfo">
		select uId , uName , uMotto , uTime , uAvatar from tbl_self_user where uId IN (select fId from tbl_self_fans where uId= #{uid} )
	</select>
	<!-- 显示全部关注 -->
	<select id="listAllAttentions" resultType="org.turings.myself.entity.UserInfo">
		select uId , uName , uMotto , uTime , uAvatar from tbl_self_user where uId IN (select uId from tbl_self_fans where fId= #{fid} )
	</select>
	<!-- 添加关注 -->
	<insert id="addAttention">
		select * from tbl_self_fans where uId= #{uid} and fid=#{fid} ? 
	</insert>
	<!-- 编辑座右铭 -->
	<update id="editMotto">
		update tbl_self_user set uMotto=#{umotto} where uId=#{uid}
	</update>
	<!-- 编辑网名 -->
	<update id="edituName">
		update tbl_self_user set uName=#{uname} where uId=#{uid}
	</update>
	<!-- 编辑头像 -->
	<update id="editAvatar">
		update tbl_self_user set uName=#{uname} where uId=#{uid}
	</update>
	<!-- 编辑学校 -->
	<select id="listSchools" resultType="org.turings.myself.entity.School">
		select * from tbl_indexcollege where id IN (select sId from tbl_self_schools_favorite where uId= #{uid})
	</select>
</mapper>