<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="org.turings.myself.dao.MyselfMapper">
	<!-- 添加礼物 -->
	<resultMap type="org.turings.myself.entity.Gift" id="giftMap">
		<id property="uid" column="id"/>
		<result property="uname" column="giftName"/>
		<result property="uaddress" column="giftAddr"/>
		<result property="phone" column="phone"/>
		<result property="size" column="giftId"/>
	</resultMap>
	<insert id="addGift">
		insert into tbl_farm_gift(uid,uname,uaddress,uphone,size) values (#{id},#{gitfName},#{giftAddr},#{phone},#{giftId})
	</insert>
	<update id="updateProc">
		update tbl_farm_score set uprocess=0 where uid=#{uid}
	</update>
	<!-- 显示农场信息 -->
	<resultMap type="org.turings.myself.entity.Water" id="farmMap">
		<id property="id" column="uid"/>
		<result property="waterdrop" column="uwater"/>
		<result property="process" column="uprocess"/>
		<result property="dryStatus" column="status"/>
	</resultMap>
	<select id="showFarm" resultMap="farmMap">
		select * from tbl_farm_score where uid=#{uid}
	</select>
	<!-- 更新农场信息 -->
	<update id="updateFarm">
		update tbl_farm_score set uwater=#{waterdrop},uprocess=#{process},status=#{dryStatus} where uid=#{id}
	</update>
	<!--显示全部课程-->
	<resultMap type="org.turings.myself.entity.CourseInfo" id="courseMap">
		<id property="id" column="parentid"/>
		<result property="image" column="courseimage"/>
		<result property="title" column="coursetitle"/>
		<result property="person" column="courseperson"/>
		<result property="data" column="coursedata"/>
		<result property="views" column="courseviews"/>
	</resultMap>
	<select id="listAllCourses" resultMap="courseMap">
		select * from tbl_indexcourse where parentid in (select cId from tbl_self_courses_my where uId=#{uid})
	</select>
	<!-- 显示全部粉丝 -->
	<resultMap type="org.turings.myself.entity.UserInfo" id="fansMap">
		<id property="id" column="uId"/>
		<result property="name" column="uName"/>
		<result property="motto" column="uMotto"/>
		<result property="time" column="uTime"/>
		<result property="avatar" column="uAvatar"/>
	</resultMap>
	<select id="listAllFans" resultMap="fansMap">
		select uId , uName , uMotto , uTime , uAvatar from tbl_self_user where uId IN (select fId from tbl_self_fans where uId= #{uid} )
	</select>
	<!-- 显示全部关注 -->
	<select id="listAllAttentions" resultMap="fansMap">
		select uId , uName , uMotto , uTime , uAvatar from tbl_self_user where uId IN (select uId from tbl_self_fans where fId= #{fid} )
	</select>
	<!-- 添加关注 -->
	<insert id="addAttention">
		insert into tbl_self_fans(uId,fId) values (#{uid},#{fid})
	</insert>
	<!-- 取消关注 -->
	<delete id="delAttention">
		delete from tbl_self_fans where uId= #{uid} and fId=#{fid}
	</delete>
	<!-- 编辑座右铭 -->
	<update id="editMotto">
		update tbl_self_user set uMotto=#{umotto} where uId=#{uid}
	</update>
	<!-- 编辑网名 -->
	<update id="editName">
		update tbl_self_user set uName=#{uname} where uId=#{uid}
	</update>
	<!-- 编辑头像 -->
	<!-- <update id="updateAvatar">
		update tbl_self_user set uAvatar=#{url} where uId=#{uid}
	</update> -->
	<!-- 编辑学校 -->
	<!-- <select id="listSchools" resultType="org.turings.myself.entity.SchoolInfo">
		select * from tbl_indexcollege where id IN (select sId from tbl_self_schools_favorite where uId= #{uid})
	</select> -->
	<!-- 显示用户信息 -->
<!-- 	<select id="refreshUserInfo" resultType="org.turings.myself.entity.Myself">
		select * from tbl_self_user where uId = #{uid}
	</select> -->
</mapper>