<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="org.turings.mistaken.dao.SubjectMsgMapper">
	<select id="findSubjectMsgByTag" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken
		<where>
			uId = #{uId} and subject = #{subject}
	        <if test="tag != null and !tag.equals('')">
	            and tag = #{tag}
	        </if>
	        <if test="date != null">
	            and time = #{date}
	        </if>
	        <if test="type != null and !type.equals('')">
	            and type = #{type}
	        </if>
    	</where>	
	</select>
	<!--查找上一题-->
	<select id="findPreSubjectMsgById" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where id = (select max(id) from tbl_mistaken where id &lt; #{id} and subject = #{subject} and tag = #{tag} and uId = #{uId})
	</select>
	<!--查找下一题-->
	<select id="findNextSubjectMsgById" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where id = (select min(id) from tbl_mistaken where id &gt; #{id} and subject = #{subject} and tag = #{tag} and uId = #{uId})
	</select>
	<!--改变题目标签  -->
	<update id="changeTagById">
		update tbl_mistaken set tag = #{tag} where id = #{id}
	</update>
	<!--更改题目学科  -->
	<update id="changeSubjectById">
		update tbl_mistaken set subject = #{subject} where id = #{id}
	</update>
	<!--表中查询头一条符合条件的题目  -->
	<select id="findFirstSubjectMsgById" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and tag = #{tag} and subject = #{subject} and id != #{id} limit 1
	</select>
	<!--删除题目  -->
	<delete id="deleteSubjectMsg">
		delete from tbl_mistaken where id = #{id}
	</delete>
	<!--上传错题  -->
	<insert id="saveSubjectMsg" parameterType="org.turings.mistaken.entity.SubjectMsg">
		<!-- insert into tbl_mistaken(subject,tag,type,time,titleImg,optionA,optionB,optionC,optionD,answer,uId) 
    	values(#{subject},#{tag},#{type},#{time},#{titleImg},#{optionA},#{optionB},#{optionC},#{optionD},#{answer},#{uId})  -->
		insert into tbl_mistaken(subject,tag,type,time,titleImg,optionA,optionB,optionC,optionD,answer,uId,content) 
    	values(#{subject},#{tag},#{type},#{time},#{titleImg},#{optionA},#{optionB},#{optionC},#{optionD},#{answer},#{uId},#{content}) 
	</insert>
	<!--统计错题数量  -->
	<select id="countForSubjectMsgById" resultType="int">
		select count(*) from tbl_mistaken where uId= #{uId}
	</select>
	<!--批量删除  -->
	<delete id="deleteSubjectMsgById">
		delete from tbl_mistaken where id in
		<foreach collection="list" item="arr" index="no" open="("
			separator="," close=")">
        	#{arr}
    	</foreach>
	</delete>
	<!--以下是自主组卷的查询方法 -->
	<!--按照学科和用户id查题目  -->
	<select id="findSubjectMsgByCondition" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
	</select>
	<!--按照学科，用户id和多种题型查题目  -->
	<select id="findSubjectMsgByConditionByTypes" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
	<!--按照学科，用户id和多种标签查题目 -->
	<select id="findSubjectMsgByConditionByTags" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and tag in
		     <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach>
	</select>
	<!--按照学科，用户id和多种标签,多种题型查题目 -->
	<select id="findSubjectMsgByConditionByTagsAndTypes" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and tag in
		      <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach> 
		     and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
	<!--按照学科,用户id和时间（2018年及以前时间）查题目  -->
	<select id="findSubjectMsgByConditionByMoreTime" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject} and time &lt;= #{date}
	</select>
	<!--按照学科,用户id和时间（2018年及以前时间）多种题型查题目 -->
	<select id="findSubjectMsgByConditionByTypesAndMoreTime" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject} and time &lt;= #{date}
			 and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
	<!--按照学科,用户id和时间（2018年及以前时间）多种标签查题目 -->
	<select id="findSubjectMsgByConditionByTagsAndMoreTime" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject} and time &lt;= #{date}
			 and tag in
		     <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach> 
	</select>
	<!--按照学科,用户id和时间（2018年及以前时间）多种标签多种题型查题目-->
	<select id="findSubjectMsgByConditionByTagsAndTypesAndMoreTime" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject} and time &lt;= #{date}
			 and tag in
		      <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach> 
		     and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
	<!--按照学科和用户id和年份查题目  -->
	<select id="findSubjectMsgByCondition2" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		and Year(time) = #{date}
	</select>
	<!--按照学科和用户id和年份和多个题型查题目  -->
	<select id="findSubjectMsgByCondition2ByTypes" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and Year(time) = #{date}
		     and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
	<!--按照学科和用户id和年份和多个标签查题目  -->
	<select id="findSubjectMsgByConditionByTags2" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and Year(time) = #{date}
		    and tag in
		      <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach>
	</select>
	<!--按照学科和用户id和年份和多个标签和多个题型查题目  -->
	<select id="findSubjectMsgByCondition2ByTagsAndTypes" resultType="org.turings.mistaken.entity.SubjectMsg">
		select * from tbl_mistaken where uId = #{uId} and subject = #{subject}
		     and Year(time) = #{date}
		     and tag in
		      <foreach collection="tags" item="brr" index="no" open="("
				separator="," close=")">
	        	#{brr}
	    	</foreach> 
		     and type in
		     <foreach collection="types" item="arr" index="no" open="("
				separator="," close=")">
        		#{arr}
    		</foreach>
	</select>
</mapper>